*.nova
*.code-workspace

# Miscellaneous

.DS_Store
node_modules/

# Title

*.sql
config.php
license.key

organize/*

dist/public/*
!dist/public/system/
dist/public/system/*
!dist/public/system/user/
dist/public/system/user/*
!dist/public/system/user/templates/
dist/public/system/user/templates/*
!dist/public/system/user/templates/fishook/
